
# Ignore static files
/static/

# Ignore media files
/media/

# Ignore virtual environment
/venv_backend/

# Ignore IDE files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore environment variables file
*.env*
